@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.barra {
    background-color: v.$blanco;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .menu-mobile {
        width: 2.5rem;
        
        @include m.tablet {
            display: none;
        }
    }

    p {
        display: none;
        font-size: 1.25rem;

        @include m.tablet {
            display: block;
        }

        span {
            font-weight: 600;
            color: v.$indigo;
        }
    }

    .cerrar-sesion {
        color: v.$indigo;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        background-color: v.$indigo;
        border-radius: .5rem;
        color: v.$blanco;

        &:hover {
            background-color: color.adjust(v.$indigo, $lightness: -30%);
        }
    }
}