@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: v.$blanco;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}