@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.dashboard {
    background-color: v.$grisClaro;
    display: flex;
    position: relative;
    height: 100vh;

    .main {
        flex: 1; // Para que pueda ocupar todo el espacio restante
        overflow-y: scroll;
        scrollbar-width: none;
        position: relative;
        z-index: 1;

        @include m.tablet {
            z-index: auto;
        }

        .contenido {
            padding: 1rem 2rem;

            .nombre-pagina {
                margin: 0;
                text-align: center;
            }

            .formulario {

                .btn-crearproyecto {
                    display: flex;
                    justify-content: center;

                    input[type="submit"] {
                        justify-content: center;
                        background-color: v.$indigo;
                        padding: 1rem 3rem;
                        color: v.$blanco;
                        border-radius: 0.5rem;
                        font-weight: 600;
                        font-size: 1.25rem;
                        text-transform: uppercase;
                        cursor: pointer;

                        &:hover {
                            background-color: color.adjust(v.$indigo, $lightness: -30%);
                        }
                    }
                }
            }

            .enlace {
                display: inline-block;
                margin-top: 2rem;
                color: v.$indigo;

                &:hover {
                    color: color.adjust(v.$indigo, $lightness: -20%);
                }
            }
        }
    }


    .overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 90;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;

        @include m.tablet {
            display: none !important;
        }

        &.activo {
            display: block;
        }
    }
}