@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.dashboard {
    background-color: v.$grisClaro;
    display: flex;
    height: 100vh;

    .main {
        flex: 1; // Para que pueda ocupar todo el espacio restante
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .contenido {
        padding: 1rem 2rem;

        .nombre-pagina {
            margin: 0;
            text-align: center;
        }
    }

    .formulario {

        .btn-crearproyecto {
            display: flex;
            justify-content: center;

            input[type="submit"] {
                justify-content: center;
                background-color: v.$indigo;
                padding: 1rem 3rem;
                color: v.$blanco;
                border-radius: 0.5rem;
                font-weight: 600;
                font-size: 1.25rem;
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                background-color: color.adjust(v.$indigo, $lightness: -30%);
                }
            }
        }
    }
}