@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;
    display: flex;
    min-height: 100dvh;

    .main {
        flex: 1; // Para que pueda ocupar todo el espacio restante
    }

    .contenido {
        padding: 1rem 2rem;

        .nombre-pagina {
            margin: 0;
            text-align: center;
        }
    }
}