@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}