@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';


.btn-perfil {
    display: flex;
    justify-content: center;

    input[type="submit"] {
        justify-content: center;
        background-color: v.$indigo;
        padding: 1rem 3rem;
        color: v.$blanco;
        border-radius: 0.5rem;
        font-weight: 600;
        font-size: 1.25rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: color.adjust(v.$indigo, $lightness: -30%);
        }
    }
}