@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.container-nueva-tarea {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .agregar-tarea {
        background-color: v.$cian;
        color: v.$blanco;
        cursor: pointer;
        padding: 1rem 3rem;
        font-weight: 600;

        &:hover {
            background-color: color.adjust(v.$cian, $lightness: -10%);
        }
    }
}

.listado-tareas {
    padding: 2rem 0rem;

    .no-tareas {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.tarea {
    padding: .5rem 2rem;
    border-bottom: 2px solid color.adjust(v.$grisClaro, $lightness: -10%);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
        border-bottom: none;
    }

    .opciones {
        display: flex;
        gap: .5rem;

        button {
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 600;
            border-radius: 1rem;
            cursor: pointer;
        }

        .pendiente {
            background-color: v.$naranja;
            color: v.$blanco;
        }
        
        .completado {
            background-color: v.$azul;
            color: v.$blanco;
            cursor: default;
        }

        .eliminar-tarea {
            background-color: v.$rojo;
            color: v.$blanco;
        }
    }
}